@import '../../../app.component.scss';

@mixin setScrolltopColors($bgColor: #333, $arrowColor: white, $bgColorHover: $bgColor, $arrowColorHover: $arrowColor) {
  #scrolltop-bg, #scrolltop-arrow {
    transition: fill .2s ease-in-out;
  }
  #scrolltop-bg {
    fill: $bgColor;
  }
  #scrolltop-arrow {
    fill: $arrowColor;
  }
  a:hover {
    #scrolltop-bg {
      fill: $bgColorHover;
    }
    #scrolltop-arrow {
      fill: $arrowColorHover;
    }
  }
}

.scrolltop-wrap {
  $size: 4rem;
  $offsetBottom: 2rem;
  box-sizing: border-box;
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  bottom: 0;
  pointer-events: none;
  backface-visibility: hidden;
  @include setScrolltopColors(#ffa476, $background, lighten(#ffa476, 8%));
  a {
    $offset: - ($size + $offsetBottom);
    position: fixed;
    position: sticky;
    top: $offset;
    width: $size;
    height: $size;
    margin-bottom: $offset;
    transform: translateY(100vh);
    backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden;
    svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;

      path {
        transition: all 0.1s;
      }
    }
  }
}
