@import 'src/app/app.component.scss';

a {
  $first-gradient: rgba($aux-gradient, 0.99);
  $second-gradient: rgba($secondary-color, 0.9);
  $third-gradient: rgba($primary-color, 0.9);
  width:208px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(144deg, $first-gradient, $second-gradient, $third-gradient);
  border-radius: 8px;
  color: $text-color;
  font-size: 1.8rem;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  margin-bottom: 20px;

  .cv-content {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    background-color: $background;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    position: relative;
    z-index: 1;

    .cv-icon {
      @include span-icon('../../../assets/icons/download.svg', 28px, 28px);
    }
  }

  &:hover .cv-content {
    background: none;
  }

  &:active {
    transform: scale(0.9);
  }
}

@media (max-width: 675px) {
  a {
    width: 100%;
  }
}
