@import '../hard-skill/hard-skill.component.scss';
$background-card: linear-gradient(153deg, $soft-color 0%, #5f4e4a 50%) no-repeat;

.soft-skill {
  @extend .hard-skill;
}

.soft-skill__icon {
  @include span-icon('../../../assets/icons/target.svg', 60px, 60px);
  top: -34px;
  left: -21px;
}

.soft-skill__content {
  @extend .hard-skill__content;
  width: auto;
  background: $background-card;

  p {
    letter-spacing: 3px;
  }
}

@media (max-width: 575px) {
  .soft-skill {
    width: 80vw;
  }

  .soft-skill__content {
    width: 100%;
  }
}
