@import '../hard-skill/hard-skill.component.scss';

.soft-skill {
  @extend .hard-skill;
  span {
    top: -34px;
    left: -21px;
  }
}

.soft-skill__content {
  @extend .hard-skill__content;
  width: auto;
  background: linear-gradient(153deg, $soft-pink 0%, #5f4e4a 50%) no-repeat;
  p {
    letter-spacing: 3px;
  }
}

@media (max-width: 575px) {
  .soft-skill {
    width: 80vw;
  }
  .soft-skill__content {
    width: 100%;
  }
}
