@import '../../../app.component.scss';

.card-project {
  padding: 64px;
  border-radius: 8px;
  border-radius: 12px;
  background: linear-gradient(145deg, #202020, #121212);
  // background: grey;
  box-shadow: 2px 3px 4px #101010, 1px 0 3px #121212;
  transition: box-shadow 1s;
  max-width: 600px;
  position: relative;
  img {
    border-radius: 12px;
    // width: 100%;
    width: 280px;
    filter: grayscale(1);
    transition: filter .5s;
  }
  a {
    color: white;
  }
  p {
    color: white;
    font-size: 1.6rem;
    font-weight:lighter;
  }
  h3 {
    font-size: 3.1rem;
    background: $degradado-gold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    color: $aux-gold;
    letter-spacing: 1px;
    margin-bottom: 8px;
    &::selection {
      -webkit-text-fill-color: initial;
      -webkit-background-clip: initial;
      background-clip: initial;
    }
  }
  .card-project__content {
    // display: flex;
    // flex-direction: row-reverse;
    margin-bottom: 36px;
    .card-project__text {
      width: 67%;
    }
    .card-project__img {
      position: absolute;
      right: -86px;
    }
  }
  .card-project__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
    .card-project__info-skills {
      font-weight: bold;
      letter-spacing: 3px;
      font-size: 1.2rem;
    }
    .card-project__info-links {
      display: flex;
      cursor: pointer;
      gap: 8px;
      .link {
        border: 2px solid white;
        background: black;
        border-radius: 50%;
        padding: 8px;
        height: fit-content;
      }
    }
  }
  &:hover {
    box-shadow: 4px 6px 8px #101010, -1px -2px 6px #121212;
    img {
      filter: none;
    }
  }
}

@media (max-width: 572px) {
  .card-project {
    padding-top: 0;
    margin-top: 88px;
    .card-project__content {
      display: flex;
      flex-direction: column;
      .card-project__img {
        position: relative;
        bottom: 36px;
      }
      .card-project__text {
        width: 100%;
      }
    }
    img {
      filter: none;
    }
  }
}
