@import '../../../../styles.scss';

.card-project {
  padding: 32px;
  border-radius: 8px;
  border-radius: 12px;
  background: linear-gradient(145deg, #202020, #121212);
  box-shadow: 4px 6px 8px #101010, -1px -2px 6px #121212;
  img {
    border-radius: 12px;
  }
  a {
    color: white;
  }
  p {
    color: white;
    font-size: 1.6rem;
  }
  h3 {
    font-size: 3.1rem;
    background: $degradado-gold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    color: $aux-gold;
    letter-spacing: 2px;
    &::selection {
      -webkit-text-fill-color: initial;
      -webkit-background-clip: initial;
      background-clip: initial;
    }
  }
}

