@import 'src/app/app.component.scss';

@mixin blurBackground {
  background-color: transparent;
  backdrop-filter: blur(6px) saturate(75%);
  -webkit-backdrop-filter: blur(6px) saturate(75%);
}

@mixin underlineAnimation {
  &::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #FF7A5A;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .35s;
  }
  &:hover::after, &.currentLink::after {
    transform: scale(1,1);
  }
}

$nav-height: 80px;
$mobile-background: #151515cc;

header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  @include blurBackground;
}

.logo {
  width: 72px;
  height: 72px;
}

.hamburger-menu {
  display: none;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  li {
    font-size: 1.6rem;
  }

  a {
    color: white;
    text-decoration: none;
    line-height: 3rem;
    @include underlineAnimation();
    &.currentLink {
      @include underlineAnimation();
    }
  }
}

@media (max-width: 572px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  header {
    background: $mobile-background;
  }

  nav {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: $mobile-background;
    transition: 0.2s;
    overflow: hidden;

    ul {
      display: block;
      width: fit-content;
      margin: 32px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }

    li {
      margin-bottom: 56px;
    }

    a {
      display: inline-block;
      width: fit-content;
      font-size: 2.8rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .active {
    height: calc(100vh - $nav-height);
    @include blurBackground;
    background: $mobile-background;

    ul {
      opacity: 1;
    }
  }
}
