<header>
  <img src="./assets/personal-icon.svg" alt="Carina Payleman" class="logo">
  <label class="hamburger-menu" for="burger">
    <input type="checkbox" id="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav [class.active]="activeMenu">
    <ul>
      <li><a href="#introduction" [class.currentLink]="activeSection === 'introduction'">Inicio</a></li>
      <li><a href="#about-me" [class.currentLink]="activeSection === 'about-me'">Sobre mí</a></li>
      <li><a href="#project" [class.currentLink]="activeSection === 'project'">Proyectos</a></li>
      <li><a href="#contact" [class.currentLink]="activeSection === 'contact'">Contacto</a></li>
    </ul>
  </nav>
</header>
