<app-nav></app-nav>
<main>
  <section id="introduction">
    <div class="introduction__content">
      <div class="introduction__content-title">
        <p>&lt;h1&gt;</p>
        <h1><span class="content-title_name">Carina Payleman</span><span class="content-title_occupation">Web Developer</span></h1>
        <p>&lt;/h1&gt;</p>
      </div>
      <div class="introduction__content-summary">
        <p>Programadora Web Full Stack con conocimientos en Django, MySQL y enfoque en Angular, comprometida en generar soluciones digitales eficientes, robustas y estéticas de calidad para satisfacer los objetivos de negocio y optimizar la experiencia de usuario. Destaco por mi creativa capacidad de resolución de problemas, mi iniciativa autodidacta con facilidad de aprendizaje, y mi adaptabilidad y entusiasmo ante nuevas tecnologías y proyectos desafiantes.</p>
      </div>
      <app-cv-download-button></app-cv-download-button>
    </div>
    <div class="introduction__avatar">
      <div class="introduction__avatar-profile"></div>
    </div>
  </section>
  <div class="social-media">
    <a href="https://github.com/PaylemanC">
      <div class="social-media_icon github"></div>
    </a>
    <a href="https://www.linkedin.com/in/carina-rocio-payleman/">
      <div class="social-media_icon linkedin"></div>
    </a>
  </div>
  <section id="about-me">
    <div class="about-me__skills">
      <div class="about-me__hard-kills">
        <h2>hard skills</h2>
        <div class="hard-skills__container">
          <app-hard-skill [hardSkill]="hardSkill" *ngFor="let hardSkill of hardSkills"></app-hard-skill>
        </div>
      </div>
      <div class="about-me__soft-skills">
        <h2>soft skills</h2>
        <div class="soft-skills__container">
          <app-soft-skill [softSkill]="softSkill" *ngFor="let softSkill of softSkills"></app-soft-skill>
        </div>
      </div>
    </div>
  </section>
  <section id="project">
    <h2>Proyectos</h2>
    <div class="project__container">
      <app-card-project></app-card-project>
    </div>
  </section>
  <section id="contact">
    <h2>Contáctame</h2>
  </section>
</main>
<!-- <app-footer></app-footer> -->
