@import '../styles.scss';

main {
  margin: 0 32px;
}

h2 {
  position: relative;
  display: block;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 32px 0;
  color: $secondary-color;
  line-height: 6rem;
  border-bottom: 2px solid gold;
  z-index: -1;
}

#introduction {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  .introduction__content {
    max-width: 640px;
    margin: 0 16px;
  }
  .introduction__content-title {
    h1 {
      display: flex;
      flex-direction: column;
      margin: 16px 0;
      font-weight: bold;
      span {
        font-size: 7.4rem;
      }
      span:first-child {
        color: $primary-color;
        font-size: 5.6rem;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 2.8rem;
    }
  }
  .introduction__content-summary {
    margin: 16px 0 36px;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .introduction__avatar {
    border: 2px solid $aux-gold;
    z-index: -1;
  }
  .introduction__avatar-profile {
    position: relative;
    top: 24px;
    right: 24px;
    width: 352px;
    height: 352px;
    background: url('../assets/avatar.png') center/cover no-repeat;
    border-radius: 4px;
    z-index: 1;
  }
}

#about-me {
  .hard-skills__container, .soft-skills__container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
