@import '../styles.scss';

main {
  margin: 0 16px;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 32px 0;
  color: $secondary-color;
  line-height: 6rem;
  border-bottom: 2px solid gold;
  letter-spacing: 8px;
  width: fit-content;
  padding-right: 24px;
}

#introduction {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  .introduction__content {
    max-width: 640px;
    margin: 0 16px;
  }
  .introduction__content-title {
    h1 {
      display: flex;
      flex-direction: column;
      margin: 16px 0;
      font-weight: bold;
      .content-title_occupation {
        font-size: 7.4rem;
        padding-right: 6px;
        display: inline-block;
        max-width:fit-content;
        color: white;
        overflow: hidden;
        border-right: .7rem solid $secondary-color;
        white-space: nowrap;
        animation: typing 1.7s steps(20, end) forwards, blinking .85s infinite;
      }
      .content-title_name {
        color: $primary-color;
        font-size: 5.6rem;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 2.8rem;
      cursor: default;
    }
  }
  .introduction__content-summary {
    margin: 16px 0 36px;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .introduction__avatar {
    border: 2px solid $aux-gold;
    z-index: -1;
  }
  .introduction__avatar-profile {
    position: relative;
    top: 24px;
    right: 24px;
    width: 352px;
    height: 352px;
    background: url('../assets/avatar.png') center/cover no-repeat;
    border-radius: 4px;
    z-index: 1;
  }
}

.social-media {
  position: relative;
  top: -95px; //-100px
  right: 47px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  .social-media_icon {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: relative;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border: 2px solid $secondary-color;
    &.github {
      background: url('../assets/icons/github.png') center/cover no-repeat;
      background-color:white;
      height: 60px;
      width: 60px
    }
    &.linkedin {
      background: url('../assets/icons/linkedin.png') center/cover no-repeat;
      background-color:white;
      height: 60px;
      width: 60px
    }
  }
}

#about-me {
  .about-me__hard-kills, .about-me__soft-skills {
    h2 {
      margin: 0;
    }
  }
  .hard-skills__container, .soft-skills__container {
    display: flex;
    gap: 0 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-me__soft-skills {
    h2 {
      padding-right: 0;
      padding-left: 24px;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 16px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: $secondary-color;
  }
}

@media (max-width: 425px) {
  .introduction__avatar, .social-media {
    display: none;
  }
}
