<app-loader *ngIf="loaderService.loading"></app-loader>
<ng-container *ngIf="!loaderService.loading">
  <app-nav></app-nav>
  <main>
    <section id="introduction">
      <div class="introduction__content">
        <div class="introduction__content-title">
          <p>&lt;h1&gt;</p>
          <h1><span class="content-title_name">{{personalInfo.name | titlecase }}</span><span class="content-title_occupation">{{personalInfo.occupation[0]  | titlecase }}</span></h1>
          <p>&lt;/h1&gt;</p>
        </div>
        <div class="introduction__content-summary">
          <p>{{personalInfo.summary}}</p>
        </div>
        <app-cv-download-button [urlCV]="cv"></app-cv-download-button>
      </div>
      <div class="introduction__avatar">
        <div class="introduction__avatar-profile"></div>
      </div>
    </section>
    <div class="social-media">
      <a [href]="social.github.url" aria-label="Link a cuenta GitHub">
        <div class="social-media_icon github"></div>
      </a>
      <a [href]="social.linkedin.url" aria-label="Link a cuenta LinkedIn">
        <div class="social-media_icon linkedin"></div>
      </a>
    </div>
    <section id="about-me">
      <div class="about-me__content-container">
        <div class="about-me__content description">
          <h2>Sobre Mí</h2>
          <p *ngFor="let paragraph of personalInfo.description">{{ paragraph }} <br><br></p>
        </div>
        <div class="about-me__content education">
          <h2>Educación</h2>
          <ul>
            <li class="platzi">
              <span>Platzi</span>
              <p>11.2022 — Actualidad  <span>//</span>  Plataforma de cursos en tecnología  <span>//</span>  <a href="https://platzi.com/p/PaylemanC/" target="_blank">@PaylemanC</a></p>
            </li>
            <li class="ispc">
              <span>ISPC</span>
              <p>02.2022 — Actualidad  <span>//</span>  Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales</p>
            </li>
            <li class="codo-a-codo">
              <span>Codo a Codo</span>
              <p>08.2023 — Actualidad <span>//</span>  Full Stack en Python</p>
            </li>
            <li class="arg-progr">
              <span>Argentina Programa</span>
              <p>02.2022 — 04.2022  <span>//</span>  #SéProgramar  <span>//</span>  1era etapa </p>
              <p>07.2022 — 01.2023  <span>//</span>  #YoProgramo  <span>//</span>  2da etapa </p>
            </li>
          </ul>
        </div>
        <!-- <div class="about-me__content work">
          <h3>Experiencia</h3>
          <ul>
            <li></li>
          </ul>
        </div> -->
      </div>
      <div class="about-me__skills">
        <div class="about-me__hard-kills" *ngIf="hardSkills.length > 0">
          <h2>hard skills</h2>
          <div class="hard-skills__container">
            <app-hard-skill [hardSkill]="hardSkill" *ngFor="let hardSkill of hardSkills"></app-hard-skill>
          </div>
        </div>
        <div class="about-me__soft-skills" *ngIf="softSkills.length > 0">
          <h2>soft skills</h2>
          <div class="soft-skills__container">
            <app-soft-skill [softSkill]="softSkill" *ngFor="let softSkill of softSkills"></app-soft-skill>
          </div>
        </div>
      </div>
    </section>
    <section id="project" *ngIf="projects.length > 0">
      <h2>Proyectos</h2>
      <h3>⭐Destacados</h3>
      <div class="project__container">
        <app-card-project [project]="project" *ngFor="let project of projects"></app-card-project>
      </div>
    </section>
    <!-- <section id="contact">
      <h2>Contáctame</h2>
    </section> -->
  </main>
  <div class="scrolltop-wrap">
    <a href="#" role="button" aria-label="Volver arriba">
      <svg height="48" viewBox="0 0 48 48" width="48" height="48px" xmlns="http://www.w3.org/2000/svg">
        <path id="scrolltop-bg" d="M0 0h48v48h-48z"></path>
        <path id="scrolltop-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
      </svg>
    </a>
  </div>
  <app-footer id="contact" [name]="personalInfo.name" [github]="social.github" [linkedin]="social.linkedin" [email]="social.email"></app-footer>
</ng-container>
