@import '../../../app.component.scss';

footer {
  font-size: 1.6rem;
  width: 100%;
  background-color: #282828;
  padding: 32px 64px;
  margin-top: 80px;
  h2 {
    @extend h2;
    margin: 0;
  }
  .footer__content-thanks {
    .heart {
      position:relative;
      width:100px;
      height:90px;
      transition: transform 500ms;
      transition-timing-function: cubic-bezier(.75, -3, .25, 4);
      &:before {
        position: absolute;
        content: "";
        left: 42px;
        top: 0;
        width: 42px;
        height: 70px;
        background: $secondary-color;
        border-radius: 50px 50px 0 0;
      }
      &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 42px;
        height: 70px;
        border-radius: 50px 50px 0 0;
        background: $secondary-color;
      }
      &::before {
        left: 42px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      &::after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
    }
  }
  &:hover {
    .heart {
      transform: scale(1.1);
    }
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        a {
          position: relative;
          display: inline-block;
          font-size: 1.8rem;
          line-height: 3.2rem;
          color: white;
        }
        p {
          color: gold;
          font-size: 1.5rem;
        }
      }
      li:first-child {
        font-size: 2rem;
        &::after {
          content: "";
          display: block;
          height: 4px;
          background: linear-gradient(90deg, rgba(249,237,85,1) 6%, rgba(223,170,64,1) 40%, rgba(236,178,61,1) 76%, rgba(210,155,72,1) 100%);
          transform: scale(1,1);
          transform-origin: center;
          transition: transform .35s;
        }
      }
    }
  }
  .footer__copyright {
    text-align: center;
    margin-top: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    span {
      line-height: 4rem;
      font-size: 1.4rem;
      color: #e6e6e6;
    }
  }
}
