@import '../../../app.component.scss';

a {
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(144deg, rgba(241, 205, 0, 0.99), rgba(255, 122, 90, 0.9) 50%, rgba(250, 168, 127, 0.9));
  border-radius: 8px;
  color: white;
  font-size: 1.8rem;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  span {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: $background;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  &:hover span {
    background: none;
  }
  &:active {
    transform: scale(0.9);
  }
}