<li class="{{getClass()}}">
  <span>{{education.institute}}</span>
  <p *ngFor="let course of education.courses"> {{course.date}} <span>//</span> {{course.title}} </p>
</li>
<!-- <li class="platzi">
  <span>Platzi</span>
  <p>11.2022 — Actualidad  <span>//</span>  Plataforma de cursos en tecnología  <span>//</span>  <a href="https://platzi.com/p/PaylemanC/" target="_blank">@PaylemanC</a></p>
</li>
<li class="ispc">
  <span>ISPC</span>
  <p>02.2022 — Actualidad  <span>//</span>  Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales</p>
</li>
<li class="codo-a-codo">
  <span>Codo a Codo</span>
  <p>08.2023 — Actualidad <span>//</span>  Full Stack en Python</p>
</li>
<li class="arg-progr">
  <span>Argentina Programa</span>
  <p>02.2022 — 04.2022  <span>//</span>  #SéProgramar  <span>//</span>  1era etapa </p>
  <p>07.2022 — 01.2023  <span>//</span>  #YoProgramo  <span>//</span>  2da etapa </p>
</li> -->