@import '../../app.component.scss';

$colors: (
  platzi: #97ca3f,
  ispc: #0ea8de,
  codo-a-codo: #f7b801,
  argentina-programa: #ff6fc8
);

p {
  font-size: 1.5rem;
}
.tittle {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.slash {
  margin: 0 4px;
}

li {
  margin-bottom: 12px;

  @each $institute, $color in $colors {
    &.#{$institute} {
      .color {
        color: $color;
      }
    }
  }
}
