@import '../../app.component.scss';
p {
  font-size: 1.5rem;
}
.tittle {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.slash {
  margin: 0 4px;
}
li {
  margin-bottom: 12px;
  &.platzi {
    .color {
      color: #97ca3f;
    }
  }
  &.ispc {
    .color {
      color: #0ea8de;
    }
  }
  &.codo-a-codo {
    .color {
      color: #f7b801;
    }
  }
  &.argentina-programa {
    .color {
      color: #ff6fc8;
    }
  }
}