@import '../../app.component.scss';
p {
  font-size: 1.5rem;
}
span {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
li {
  margin-bottom: 12px;
  &.platzi {
    span, a {
      color: #97ca3f;
      text-decoration: none;
    }
    a {
      @include secondaryUnderline(#97ca3f, #97ca3f, 2px);
      line-height: 1.5;
    }
  }
  &.ispc {
    span {
      color: #0ea8de;
    }
  }
  &.codo-a-codo {
    span {
      color: #f7b801;
    }
  }
  &.argentina-programa {
    span {
      color: #ff6fc8;
    }
  }
}