@import '../../../styles.scss';

.hard-skill {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  span {
    position: relative;
    top: 16px;
    left: 16px;
    font-size: 4.6rem;
    opacity: 0.35;
    font-weight: bolder;
    z-index: -1;
  }
}

.hard-skill__content {
  display: flex;
  background: $aux-grey;
  border-right: 2px solid #505050;
  border-bottom: 2px solid #505050;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
  img {
    height: 55px;
    width: 55px;
  }
  p {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing: 1rem;
  }
}
