@import '../../app.component.scss';

.hard-skill {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  span {
    position: absolute;
    top: -37px;
    right: -21px;
    font-size: 4.6rem;
    opacity: 0.35;
    font-weight: bolder;
    z-index: -1;
    cursor: default;
    user-select: none;
  }
}

.hard-skill__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #393F46 0%, #202328 50%) no-repeat;
  background-clip: padding-box;
  border-color: transparent;
  border-radius: 10px;
  padding: 26px;
  gap: 16px;
  position: relative;
  height: auto;
  width: 148px;
  img {
    height: 58px;
    width: 58px;
    z-index: 1;
  }
  p {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing: 2px;
    z-index: 1;
    text-align: center;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1px;
    content: "";
    background-color: #242424;
    border-radius: 10px;
  }
}
