@import url('assets/styles/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$primary-color: #FAA87F;
$secondary-color: #FF7A5A;
$background: #212121;

body {
  background-color: $background;
  color: white;
  font-family: 'Lato', sans-serif;
}

