/* Colors: --------------------------------------------------------------------*/
$primary-color: #FAA87F;
$secondary-color: #fd886c;
$soft-color: #FDD8B2;

$background: #17191a;
$aux-soft-background: #262626;
$text-color: #FFFFFF;
$selection: #f7c0a4;
$selection-text: #111111;

$gradient: linear-gradient(90deg, rgba(249,237,85,1) 6%, rgba(223,170,64,1) 40%, rgba(236,178,61,1) 76%, rgba(210,155,72,1) 100%);
$aux-gradient: rgba(241, 205, 0, 0.99);
