* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: white;
  font-family: 'Lato', sans-serif;
  position: relative;
}


::selection {
  background-color: #f7c0a4;
  color: #111111;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
